/* ========================================================================
   Component: preloader
 ========================================================================== */

/*
    $brand-info -> #5bc0de
    darken($brand-info, 5%) -> #19a9d5
*/

/*@noflip*/
.preloader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    background-color: #51bddd;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 9999;
    transition: opacity .65s;
}

/*@noflip*/
.preloader-progress {
    width: 600px;
    max-width: 600px;
    height: 295px;
    overflow: auto;
    background-image: url(../assets/img/preloader/logo_bg2.png);
    background-size: 100%;
    margin-bottom: 100px;
    background-repeat: no-repeat;
}

/*@noflip*/
.preloader-progress-loader {
    width: 46px;
    height: 46px;
    background-image: url(../assets/img/preloader/loader.png);
    background-size: 100%;
    -webkit-animation:spin 7s linear infinite;
    -moz-animation:spin 7s linear infinite;
    animation:spin 7s linear infinite;
}

.preloader-hidden {
    display: none;
}

/* ngAnimate behavior */
.preloader-hidden-add {
    opacity: 1;
    display: block;

    .preloader-progress {
        transition: transform(.4s ease);
        transform: scale(0);
    }
}
.preloader-hidden-add-active {
    opacity: 0;
}
/* color="#818181" */

@-moz-keyframes spin { 25% { -moz-transform: rotate(360deg); } 50% { -moz-transform: rotate(720deg); } 75% { -moz-transform: rotate(980deg); } 100% { -moz-transform: rotate(1340deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 25% { -webkit-transform: rotate(360deg); } 50% { -webkit-transform: rotate(720deg); } 75% { -webkit-transform: rotate(980deg); } 100% { -webkit-transform: rotate(1340deg); } }


@media screen and (max-width: 600px){
    .preloader-progress {
        width: 320px;
        max-width: 320px;
        height: 150px;
        overflow: auto;
        background-image: url(../assets/img/preloader/logo_bg2.png);
        background-size: 100%;
        margin-bottom: 100px;
        background-repeat: no-repeat;
    }
}
