<!-- <div *ngIf="userType?'PayingUser':navbarType1,navbarType2">

</div> -->

<div class="navbar topnavbar" [class.navbar-green]="userType === 'PayingUser'" [class.navbar-inverse]="userType !== 'PayingUser'">
    <div class="navbar-header">
        <a *ngIf="isAuthorized" routerLink="/" class="navbar-brand">Image Gallery</a>
    </div>

    <ul class="navbar-nav mr-auto flex-row">
        <li class="nav-item">
            <a class="nav-link d-none d-lg-block d-xl-block" *ngIf="isAuthorized" id="home" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-none d-lg-block d-xl-block" *ngIf="isAuthorized" id="albums" [routerLink]="['/albums']">Albums</a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-none d-lg-block d-xl-block" *ngIf="(isAuthorized && hasPayingUserRole)" id="add_mage"
                routerLink="/gallery-add">Add
                an image</a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-none d-lg-block d-xl-block" *ngIf="isAuthorized" id="about" routerLink="/about">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link d-none d-lg-block d-xl-block" *ngIf="isAuthorized" id="input_logout" href="#" (click)="logout()">Logout</a>
        </li>
    </ul>
    <ul class="navbar-nav flex-row mr-4">
        <li class="nav-item">
            <a class="nav-link d-none d-lg-block d-xl-block" *ngIf="isAuthorized" id="user_properties" href="#" (click)="openModal(template)">Welcome
                {{name}}</a>
        </li>
    </ul>
</div>

<div class="content-wrapper">
    <router-outlet></router-outlet>
    <div class="container">
        <hr />
        <footer>
            <p>&copy; Image Gallery</p>
        </footer>
    </div>
</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">Update User Properties</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" [formGroup]="form">
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">First Name:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="firstName" formControlName="firstName">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Last Name:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="lastName" formControlName="lastName">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Address 1:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="address" formControlName="address">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Address 2:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="address2" formControlName="address2">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">City:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="city" formControlName="city">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">State:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="state" formControlName="state">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Postal Code:</label>
                <div class="col-sm-9">
                    <input type="text" class="form-control" id="postalCode" formControlName="postalCode">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Country:</label>
                <div class="col-sm-9">
                    <ngx-select [items]="countries" optionValueField="key" optionTextField="value" placeholder="No city selected"
                        id="country" formControlName="country"></ngx-select>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-3 col-form-label">Language:</label>
                <div class="col-sm-9">
                    <ngx-select [items]="languages" optionValueField="key" optionTextField="value" placeholder="No language selected"
                        id="language" formControlName="language"></ngx-select>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" (click)="saveUserInfo()">Save Changes</button>
        <button class="btn btn-secondary" (click)="modalRef.hide()">Close</button>
    </div>
</ng-template>