.navbar-inverse {
  background-color: #090909;
}

.navbar-green {
  background-color: #31708F;
}

.img-rounded{
  height: 46px;
  padding: 10px;
}

.modal-body{
  .form-inline .form-control {
    display: inline-block;
    width: 450px;
    max-width: 450px;
    vertical-align: middle;
  }
}

@media (max-width: 600px) {
  .modal-body{
    .form-inline .form-control {
      display: inline-block;
      width: 70%;
      max-width: 70%;
      vertical-align: middle;
    }
  }
}
