<div>
  <div class="row">
    <div class="sort-tab-container" cdkDropListGroup>
      <div cdkDropList [cdkDropListEnterPredicate]="enteredImage" 
                       (cdkDropListDropped)="onDropImage()" 
                       #placeholder></div>
      <div cdkDropList *ngFor="let image of albumImages.images" 
                       [cdkDropListEnterPredicate]="enteredImage" 
                       (cdkDropListDropped)="onDropImage()">
        <div cdkDrag class="panel panel-default active-panel">
          <div class="panel-body text-center">
            <img src="{{albumImages.imagesUri + '/' + image.fileName}}" width="150px" height="150px">
          </div>
          <div class="panel-footer">
            <div class="d-flex j-c-between a-items">
              <div>
                <h5>{{image.title}}</h5>
              </div>
              <div>
                <strong>{{image.sort}}</strong>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>