<app-root></app-root>

<div class="preloader">
    <div class="preloader-progress"></div>
     <div class="preloader-progress-loader"></div>
</div>

<script src="~/dist/polyfills.js" asp-append-version="true"></script>
<script src="~/dist/vendor.js" asp-append-version="true"></script>
<script src="~/preloader/preloader.js" asp-append-version="true"></script>
<script>
    let promiseDone = null;
    window.reCaptchaCallback_Promise = new Promise(function (load, err) { promiseDone = function () { load(window.grecaptcha); } });
    window.reCaptchaCallback = function () { promiseDone(); }
</script>
<script src="https://www.google.com/recaptcha/api.js?onload=reCaptchaCallback&render=explicit" async defer></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAhPzUk8HIyoEIzUBSzW2OsGcJhdUwkW5o"></script>

@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
