<div class="container">

  <div class="topMarginDefault">
    <h3>About Page</h3>
  </div>

  <div class="topMarginDefault bottomMarginDefault" style="margin-top: 30px; background-color: #e7e7e7; padding: 10px;">
    <div *ngFor="let claim of (userData | keys)">
      <strong>{{claim.key}}: </strong>
      <span id="lbl_claim_{{claim.key}}">{{claim.value}}</span>
    </div>
  </div>

  <h4>refresh_token</h4>
  <div style="background-color: #e7e7e7; padding: 10px;">
    <span style="display: block;">{{refresh_token}}</span>
  </div>

  <h4>access_token</h4>

  <div class="bottomMarginDefault" style="background-color: #e7e7e7; padding: 10px;">
    <span style="display: block; overflow-x: scroll;">{{ access_token }}</span>
  </div>


</div>
