<div class="container">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/albums">Albums</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{title}}</li>
  </ol>
  <h2 class="page-header">{{title}}</h2>
  <div class="row" *ngIf="albumViewModel && albumViewModel.images">
    <div class="col-sm-6 col-md-4" *ngFor="let album of albumViewModel.images">
      <div class="panel panel-default" [class.panel-primary]="album.isPrimaryImage">
        <div class="panel-body text-center">
          <img src="{{albumViewModel.imagesUri + '/' + album.fileName}}" width="{{album.width}}" height="{{album.height}}">
        </div>
        <div class="panel-footer">
          <div class="d-flex">
            <div class="input-group-for">
              <input (keyup.enter)="onSubmitTitle(album, inputTitle, $event)" (blur)="onCancelEditTitle(album, inputTitle)"
                [value]="album.title" type="text" class="property-edit property-edit-focus" #inputTitle>
              <span class="input-group-addon">
                <button (mousedown)="onSubmitTitle(album, inputTitle)">
                  <span class="glyphicon glyphicon-pencil"></span>
                </button>
              </span>
            </div>
            <div class="primary-image-hover">
              <span class="primary-image glyphicon" aria-hidden="true" (click)="updatePrimaryImage(album)" [ngClass]="{'glyphicon-star': album.isPrimaryImage, 'glyphicon-star-empty': !album.isPrimaryImage}"></span>
            </div>
          </div>
          <div>
            <a (click)="openDeleteModal(album, template)" class="crud-btn-pointer">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row pagination" *ngIf="pagination.totalItems > 0">
    <div class="col-md-3 col-sm-12 page-num-info">
      <div class="inline">
        <select [ngModel]="pagination.limit" (ngModelChange)="getAlbumViewModel($event)">
          <option [value]="p" *ngFor="let p of perPage">{{p}}</option>
        </select>
        per page
      </div>
    </div>
    <div class="col-md-6 col-sm-12 text-center pagination-container">
      <pagination [totalItems]="pagination.totalItems" [itemsPerPage]="pagination.limit" [maxSize]="5" [(ngModel)]="pagination.page"
        [boundaryLinks]="true" [rotate]="false" (pageChanged)="getAlbumViewModel($event)" class="pagination-sm">
      </pagination>
    </div>
    <div class="col-md-3 col-sm-12 text-right">
      Total Records: <span id="lbl_totalRecords">{{pagination.totalItems}}</span>
    </div>
  </div>

  <div class="jumbotron" *ngIf="albumViewModel && albumViewModel.images.length === 0">
    <span>No Photos Exist for the Album</span>
  </div>

  <ngx-loading-spinner> </ngx-loading-spinner>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Confirm delete image</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div>Are you sure want to delete image from album?</div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-secondary" (click)="modalRef.hide()">Cancel</button>
    <button class="btn btn-success" (click)="deleteImage()">Ok</button>
  </div>
</ng-template>